In [1]:
from bs4 import BeautifulSoup
import future
import pandas as pd
import csv
import itertools
import uuid
import requests
import re

## A. Scrape entire text

In [2]:
# function for scraping entire text from ToposText with given html

def topostext(url):
    response = requests.get(url)
    if response.status_code != 200:
        raise FileNotFoundError("Failed to retrieve HTML content: " + url)
    
    data = []
    soup = BeautifulSoup(response.content, features="lxml")
    paragraphs = soup.find_all("p")  # Find all <p> tags instead of filtering by class

    for paragraph in paragraphs:
        match = re.search(r'ยง\s+(\d+\.\d+\.\d*)\s+(.*)$', paragraph.text)
        if match:
            Chapternparagraph = match.group(1)  # Extract the reference from the pattern
            Text = match.group(2)  # Extract the text from the pattern
            Reference = paragraph.get("id")  # Indicate book, chapter, paragraph
            UUID4 = uuid.uuid4()  # Create a unique ID

            data.append({
                'UUID4': UUID4,
                'Reference': Reference,
                'Chapter&Paragraph': Chapternparagraph,     
                'Text': Text
            })

    df = pd.DataFrame(data)
    return df

In [3]:
# link for digitized text of Natural History_book1-11
url1 = "https://topostext.org/work/148"

# link for digitized text of Natural History_book12-37
url2 = "https://topostext.org/work/153"

# construct the dataframe for two parts of the digitized text with the topostext function
df1 = topostext(url1)
df2 = topostext(url2)

In [4]:
df1.shape

(1158, 4)

In [5]:
df2.shape

(2335, 4)

In [6]:
df1.head()

,UUID4,Reference,Chapter&Paragraph,Text
0,7da79925-2010-47ca-ae38-771e596fc34b,urn:cts:latinLit:phi0978.phi001:1.1.1,1.1.1,PREFACE IN THE FORM OF A LETTER: PLINIUS SECUN...
1,36136e66-7e14-4827-8a5a-5026de8b6a39,urn:cts:latinLit:phi0978.phi001:1.2.1,1.2.1,But who could judge the value of these composi...
2,eed75d39-9292-43e8-977c-2e1941108bea,urn:cts:latinLit:phi0978.phi001:1.3.1,1.3.1,"But if Lucilius, the originator of critical sn..."
3,2fceb4a6-2e53-4c50-ba13-0ef23f9be723,urn:cts:latinLit:phi0978.phi001:1.4.1,1.4.1,"My own presumption has indeed gone further, in..."
4,79b0c382-3821-4bd7-bdf6-c6279155c0ca,urn:cts:latinLit:phi0978.phi001:1.5.1,1.5.1,For my own part I am of opinion that a special...

In [7]:
# combine the two parts of scraped text

wholebook = pd.concat([df1, df2], ignore_index=True)
wholebook.shape

(3493, 4)

In [8]:
# store the sparsed text into csv file

wholebook.to_csv('wholebooktext.csv')

In [9]:
# construct a corpus for the entire text

wholebook_corpus = wholebook[['Chapter&Paragraph', 'Text']]
wholebook_corpus['Text'] = wholebook_corpus['Text'].str.lower()
wholebook_corpus.head()

C:\Users\dawn\AppData\Local\Temp\ipykernel_11960\2434696912.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wholebook_corpus['Text'] = wholebook_corpus['Text'].str.lower()

  Chapter&Paragraph                                               Text
0             1.1.1  preface in the form of a letter: plinius secun...
1             1.2.1  but who could judge the value of these composi...
2             1.3.1  but if lucilius, the originator of critical sn...
3             1.4.1  my own presumption has indeed gone further, in...
4             1.5.1  for my own part i am of opinion that a special...

In [12]:
# set the counter to only output the first 5 file names for check

for _, row in wholebook_corpus.iterrows():
    chapter_paragraph = row['Chapter&Paragraph']
    text = row['Text']
    filename = f"{chapter_paragraph}_text.txt"
    
    with open(filename, 'w', encoding = 'utf-8') as file:
        file.write(text)
        
# print the last exported filename for check     
print(f"Exported {filename}")

Exported 37.78.1_text.txt

## B. Scrape text with geographical annotation

In [13]:
# check the place names with annotation in the first part of the digitized book

response = requests.get(url1)
soup = BeautifulSoup(response.content, features="lxml")

links = soup.find_all("a", {"class": "place"})

for link in links[:5]:
    print(link)

<a about="https://topostext.org/place/380237SAca" class="place" lat="37.992" long="23.707">Academy</a>
<a about="https://topostext.org/place/419125LPal" class="place" lat="41.8896" long="12.4884">Palatine</a>
<a about="https://topostext.org/place/419125LEsq" class="place" lat="41.895" long="12.496">Esquiline</a>
<a about="https://topostext.org/place/419125SCap" class="place" lat="41.8933" long="12.483">Capitol</a>
<a about="https://topostext.org/place/419125PRom" class="place" lat="41.891" long="12.486">Rome</a>

In [14]:
# number of class=place detected

len(links)

5595

In [15]:
# function for text with geographical name annotation scraping

def toposgeotext(url):
    response = requests.get(url)
    if response.status_code != 200:
        raise FileNotFoundError("Failed to retrieve HTML content: " + url)

    data = []
    soup = BeautifulSoup(response.content, features="lxml")
    links = soup.find_all("a", {"class": "place"})

    for link in links:
        Place_Name = link.contents[0]  # Place name
        ToposText_ID = link.get('about')  # ToposText ID
        Lat = link.get('lat')
        Long = link.get('long')
        Parent = link.find_parent("p")
        Text = Parent.text  # Extract related text
        Reference = Parent.get("id")  # Indicate book, chapter, paragraph

        # Separate the information in Text using the regular expression pattern
        match = re.search(r'ยง\s+(\d+\.\d+\.\d*)\s+(.*)$', Text)
        if match:
            Chapternparagraph = match.group(1)  # Extract the reference from the pattern
            Text = match.group(2)  # Extract the remaining text from the pattern
            UUID4 = uuid.uuid4()  # Create a unique ID

            data.append({
                'UUID4': UUID4,
                'ToposText_ID': ToposText_ID,
                'Place_Name': Place_Name,
                'Reference': Reference,
                'Lat': Lat,
                'Long': Long,
                'Chapter&Paragraph': Chapternparagraph,
                'Text': Text
            })

    df = pd.DataFrame(data)
    return df

In [16]:
# construct the dataframe for two parts of the digitized text with geographical annotations with the toposgeotext function

geodf1 = toposgeotext(url1)
geodf2 = toposgeotext(url2)

In [17]:
geodf1.head()

,UUID4,ToposText_ID,Place_Name,Reference,Lat,Long,Chapter&Paragraph,Text
0,861d5a8c-891d-42c9-b678-e630cf9b90c4,https://topostext.org/place/380237SAca,Academy,urn:cts:latinLit:phi0978.phi001:1.8.1,37.992,23.707,1.8.1,For my own part I frankly confess that my work...
1,cc90d708-9b8f-4cb1-86ac-28662fa571df,https://topostext.org/place/419125LPal,Palatine,urn:cts:latinLit:phi0978.phi001:2.5.1,41.8896,12.4884,2.5.1,For this reason I deem it a mark of human weak...
2,2dc0ccda-3629-4d3a-86b2-35b2c48a8377,https://topostext.org/place/419125LEsq,Esquiline,urn:cts:latinLit:phi0978.phi001:2.5.1,41.895,12.496,2.5.1,For this reason I deem it a mark of human weak...
3,a070a3fb-68a4-48f6-8cf3-fa17b540ee68,https://topostext.org/place/419125SCap,Capitol,urn:cts:latinLit:phi0978.phi001:2.5.1,41.8933,12.483,2.5.1,For this reason I deem it a mark of human weak...
4,d160b06f-9ffc-4d84-8e70-b0740954171d,https://topostext.org/place/419125PRom,Rome,urn:cts:latinLit:phi0978.phi001:2.6.3,41.891,12.486,2.6.3,Below the sun revolves a very large star named...

In [18]:
geodf1.shape

(5595, 8)

In [19]:
geodf2.shape

(3281, 8)

In [20]:
geotext_whole = pd.concat([geodf1, geodf2], ignore_index=True)
geotext_whole.head()

,UUID4,ToposText_ID,Place_Name,Reference,Lat,Long,Chapter&Paragraph,Text
0,861d5a8c-891d-42c9-b678-e630cf9b90c4,https://topostext.org/place/380237SAca,Academy,urn:cts:latinLit:phi0978.phi001:1.8.1,37.992,23.707,1.8.1,For my own part I frankly confess that my work...
1,cc90d708-9b8f-4cb1-86ac-28662fa571df,https://topostext.org/place/419125LPal,Palatine,urn:cts:latinLit:phi0978.phi001:2.5.1,41.8896,12.4884,2.5.1,For this reason I deem it a mark of human weak...
2,2dc0ccda-3629-4d3a-86b2-35b2c48a8377,https://topostext.org/place/419125LEsq,Esquiline,urn:cts:latinLit:phi0978.phi001:2.5.1,41.895,12.496,2.5.1,For this reason I deem it a mark of human weak...
3,a070a3fb-68a4-48f6-8cf3-fa17b540ee68,https://topostext.org/place/419125SCap,Capitol,urn:cts:latinLit:phi0978.phi001:2.5.1,41.8933,12.483,2.5.1,For this reason I deem it a mark of human weak...
4,d160b06f-9ffc-4d84-8e70-b0740954171d,https://topostext.org/place/419125PRom,Rome,urn:cts:latinLit:phi0978.phi001:2.6.3,41.891,12.486,2.6.3,Below the sun revolves a very large star named...

In [21]:
geotext_whole.shape

(8876, 8)

In [22]:
geotext_whole.to_csv('geotext_whole.csv')

In [23]:
# construct a corpus for the text with annotated place names

geotext_corpus = geotext_whole[['Chapter&Paragraph', 'Text']].drop_duplicates(subset='Text').reset_index(drop=True)
geotext_corpus['Text'] = geotext_corpus['Text'].str.lower()
geotext_corpus.head()

  Chapter&Paragraph                                               Text
0             1.8.1  for my own part i frankly confess that my work...
1             2.5.1  for this reason i deem it a mark of human weak...
2             2.6.3  below the sun revolves a very large star named...
3             2.8.1  this theory leads mortal minds upward to heave...
4             2.9.1  the first person indeed of roman nationality w...

In [24]:
for _, row in geotext_corpus.iterrows():
    chapter_paragraph = row['Chapter&Paragraph']
    text = row['Text']
    filename = f"{chapter_paragraph}_text.txt"
    
    with open(filename, 'w', encoding = 'utf-8') as file:
        file.write(text)
        
# print the last exported filename for check     
print(f"Exported {filename}")

Exported 37.78.1_text.txt

## C. Filter dataframe and corpus related to India

In [25]:
# transfer the data type of corresponding coordinates to numbers

geotext_whole['Lat'] = geotext_whole['Lat'].astype(float)
geotext_whole['Long'] = geotext_whole['Long'].astype(float)

In [33]:
# define the latitude and longitude ranges for India 
# the coordinates of current territory of India is applied for a rough reference 

lat_range = (8.4, 37.6)
long_range = (68.7, 97.25)

# create a boolean mask for filtering
mask = (geotext_whole['Lat'].between(*lat_range)) & (geotext_whole['Long'].between(*long_range))

# apply the mask to filter the dataframe
geotext_india = geotext_whole[mask]

geotext_india.head()

,UUID4,ToposText_ID,Place_Name,Reference,Lat,Long,Chapter&Paragraph,Text
85,d4f97ed8-1279-42f3-894b-0bd40ac66f47,https://topostext.org/place/300740RInd,India,urn:cts:latinLit:phi0978.phi001:2.75.1,30.0000,74.0000,2.75.1,Similarly it is reported that at the town of S...
92,fd82b062-abdf-43ed-95ba-19c050784a78,https://topostext.org/place/300740RInd,India,urn:cts:latinLit:phi0978.phi001:2.75.1,30.0000,74.0000,2.75.1,Similarly it is reported that at the town of S...
93,b5f281c4-2cc7-494e-8c4f-e90b27670363,https://topostext.org/place/300740RInd,India,urn:cts:latinLit:phi0978.phi001:2.75.1,30.0000,74.0000,2.75.1,Similarly it is reported that at the town of S...
343,f53799b0-5303-470a-a92b-f27442ad2010,https://topostext.org/place/300740RInd,India,urn:cts:latinLit:phi0978.phi001:2.112.1,30.0000,74.0000,2.112.1,"Our own portion of the earth, which is my subj..."
348,e518b663-ea53-4545-97f3-da99d63495f7,https://topostext.org/place/38898WGan,Ganges,urn:cts:latinLit:phi0978.phi001:2.112.1,23.7818,89.8009,2.112.1,"Our own portion of the earth, which is my subj..."

In [34]:
geotext_india.shape

(194, 8)

In [35]:
geotext_india.to_csv('geotext_indianregion.csv')

In [39]:
# construct a corpus for the text mentioned place names in Indian subcontinent

india_corpus = geotext_india[['Chapter&Paragraph', 'Text']].drop_duplicates(subset='Text').reset_index(drop=True)
india_corpus['Text'] = india_corpus['Text'].str.lower()
india_corpus[:5]

  Chapter&Paragraph                                               Text
0            2.75.1  similarly it is reported that at the town of s...
1           2.112.1  our own portion of the earth, which is my subj...
2            4.17.4  such is macedonia, which was once the mistress...
3            4.26.2  at this spot begins a well-wooded district, wh...
4            5.11.1  the cities of egypt: egypt, besides its boast ...

In [37]:
for _, row in india_corpus.iterrows():
    chapter_paragraph = row['Chapter&Paragraph']
    text = row['Text']
    filename = f"{chapter_paragraph}_text.txt"
    
    with open(filename, 'w', encoding = 'utf-8') as file:
        file.write(text)

# print the last exported filename for check     
print(f"Exported {filename}")

Exported 37.77.1_text.txt

In [40]:
# check the distinct place names in the selected region

distinct_places = geotext_india['Place_Name'].unique()
distinct_places

array(['India', 'Ganges', 'Acesinus', 'Hydaspes', 'Muziris', 'Baragaza'],
      dtype=object)